COHALL_RELAY_HOST=127.0.0.1
COHALL_RELAY_PORT=8787
COHALL_TOKEN=replace-with-a-long-random-owner-token
# COHALL_DATA_DIR=/var/lib/cohall
# COHALL_RELAY_ALLOW_REMOTE=true

COHALL_RELAY_URL=http://127.0.0.1:8787
# COHALL_CLIENT_TOKEN=
# COHALL_DEVICE_TOKEN=
# COHALL_DEVICE_NAME=my-device
# COHALL_DEVICE_WORKSPACES=/home/you/dev,/home/you/.skillsync/repo
# COHALL_DEVICE_WORKSPACES_JSON=["/home/you/dev"]
# COHALL_MODEL=
# COHALL_SANDBOX=workspace-write
# COHALL_THREAD_ID=
